body :is(header, main) {
    animation: circleExplode 0.75s linear;
}

@keyframes circleExplode {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    clip-path: circle(150% at 50% 50%);
    opacity: 1;
  }
}