@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    @include flex-center;
    background-color: $black-70;
    color: $white;
    width: $width-screen;
    height: $height-screen;
    z-index: 9999999999999999;

    &>* {
        width: 45%;

        @media (max-width: 1000px) {
            width: 80%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }
    }
}