.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999999999999999;
}

.custom-modal > * {
    width: 45%;
}

@media screen and (max-width: 1000px) {
    .custom-modal > * {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .custom-modal > * {
        width: 100%;
    }
}