footer {
    margin-top: 50px;
    padding: 0 10%;
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
}

footer .footer-nav {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    list-style-type: none;
    font-size: var(--text-base);
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer span.list-title {
    cursor: default;
    color: var(--gray-300);
}

footer .footer-nav li ul {
    margin-top: 16px;
    line-height: 25px;
}

footer .footer-nav > img {
    width: 120px;
}

@media screen and (max-width:768px) {
    footer .footer-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    footer ul li a {
        font-size: var(--text-sm);
    }
}

@media screen and (max-width:440px) {
    footer .footer-nav {
        grid-template-columns: 1fr;
    }

    footer .footer-nav > img {
        display: none;
    }

    footer .footer-nav li ul {
        margin-top: 8px;
    }
}