header {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: space-between;
    background-color: #4A5E57;
}

header>* {
    width: 50%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header>* {
        width: 100%;
    }
}