html {
    overflow-x: hidden;

    &[data-no-scroll="true"] {
        overflow: hidden !important;

        body {
            overflow: hidden !important;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden !important;
}